{% extends "@ezdesign/pagelayout.html.twig" %}

{% block page_head %}
    {% set title = ez_content_name(content) ~ " - " ~ content.contentInfo.publishedDate|localizeddate('short', 'short', app.request.locale) %}
    {{ parent() }}

    {% if ez_reco_enabled() and not location.isDraft %}
        {% include '@ezdesign/parts/recommendations_header.html.twig' %}
    {% endif %}
{% endblock %}

{% block ez_recommendations %}
    {% if ez_reco_enabled() and not location.isDraft %}
        {{ yc_show_recommendations(
            contentId = content.id,
            scenario = 'blog',
            limit = '3',
            contentType = 'blog_post',
            template = 'recommendations',
            fields = ['title', 'intro', 'image', 'uri']
        ) }}
    {% endif %}
{% endblock %}

{% block content %}
    <section class="content-type-blog-post full-view">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="title">
                        <h1 class="field-title">{{ ez_render_field(content, 'title') }}</h1>
                    </div>

                    <div class="meta">
                        {% if not ez_is_field_empty(content, 'author') %}
                            <span class="field-author">
                                {{ ez_field_value(content, 'author') }}
                            </span>
                        {% endif %}
                        {% if not ez_is_field_empty( content, 'authors_position' ) %}
                        <span class="field-authors-position">
                            - {{ ez_field_value(content, 'authors_position') }}
                        </span>
                        {% endif %}
                        <span class="field-date">
                            <time pubdate datetime="{{ ez_field_value(content, 'publication_date')|date("Y-m-d") }}">{{ ez_field_value(content, 'publication_date')|date("d M Y") }}</time>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="field-image">
                        {{ ez_render_field(content, 'image', {
                            'parameters': {'alias': 'original', 'class': 'img-fluid w-100'}
                        }) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="field-body">
                        {{ ez_render_field(content, 'body') }}
                    </div>

                    <div class="field-tags">
                        {{ ez_render_field(content, 'tags') }}
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
